.container {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 71px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 24px;
  font-weight: 300;
}

.img {
  width: 100%;
  height: 500px;
  object-fit: contain;
  animation: move 3s infinite ease alternate;
}

@keyframes move {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
